.button {
  background: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0; /* Space between buttons */
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.save {
  background: green;
}
.save:hover {
  background: darkgreen;
}
.edit {
  background: yellow;
  color: black;
}
.edit:hover {
  background: gold;
}
.danger {
  background: red;
}
.danger:hover {
  background: darkred;
}