.button-green {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.button-red {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.button-yellow {
  background-color: yellow;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.space-between {
  margin: 1rem;
}
